<nav class="top-nav">
    <NavLink href="/" Match="NavLinkMatch.All">Home</NavLink>
    <NavLink href="/games">Games</NavLink>
    <NavLink href="/highscores">Highscores</NavLink>
    <NavLink href="/contact">Contact</NavLink>
</nav>