<nav class="top-nav">
    <NavLink href="/" Match="NavLinkMatch.All">Home</NavLink>
    <NavLink href="/game">Play Game</NavLink>
    <NavLink href="/highscores">Highscores</NavLink>
    <NavLink href="/about">About</NavLink>
</nav>