@page "/about"

<div class="page-wrapper">

    <section class="content-section">

        <div class="pixel-frame">
            <span class="frame-corner top-left"></span>
            <span class="frame-corner top-right"></span>
            <span class="frame-corner bottom-left"></span>
            <span class="frame-corner bottom-right"></span>

            <span class="frame-edge top"></span>
            <span class="frame-edge bottom"></span>
            <span class="frame-edge left"></span>
            <span class="frame-edge right"></span>

            <div class="box-inner">

                <div class="body-text">
                    This is a thesis that I've been working on as part of my studies to become a programmer.
                    The project consists of a simple game made in Unity, hosted on this website using WebGL.
                    Furthermore, the game and the website are connected to an API, Microservice and MongoDB database
                    where the Player's name and Highscore are stored. Everything is deployed in the form of containers
                    using Docker.

                    <br /><br />

                    The most exciting thing about this project has been learning along the way how to develop a game from scratch.
                    Even though the game itself is fairly small, I feel like it has potential to become something great.
                    I'm absolutely going to keep working on it as a side-project after I've turned in my thesis.

                    <br /><br />

                    Hope you enjoy the game!
                </div>

            </div>
        </div>

    </section>

</div>