@page "/highscores"
@rendermode InteractiveServer
@inject IHttpClientFactory ClientFactory
@using Examensarbete.Blazor.Shared.Responses;

<PageTitle>Highscores</PageTitle>

<div class="background">
    <h1 class="highscore-title">Highscores</h1>

    <div class="image-frame">
        <div class="image-left"></div>

        <div class="highscore-wrapper">
            <ul class="highscore-list">
                @foreach (ScoreResponse entry in _highScores)
                {
                    <li class="highscore-item">
                        <span class="player-name">@entry.Name</span>
                        <span class="player-score">@entry.Score</span>
                    </li>
                }
            </ul>
        </div>

        <div class="image-right"></div>
    </div>
</div>




@code {
    private List<ScoreResponse> _highScores = new List<ScoreResponse>();
    protected override async Task OnInitializedAsync()
    {
        for (int i = 0; i < 14; i++) {
            _highScores.Add(new ScoreResponse
            {
                Name = "",
                Score = 0,
            });
        }

        try 
        {
            HttpClient? client = ClientFactory.CreateClient(name: "ApiGateway");
            Console.WriteLine("Blazor: Fetching high scores from API Gateway...");
            List<ScoreResponse>? response = await client.GetFromJsonAsync<List<ScoreResponse>>(requestUri: "api/highscore");
            Console.WriteLine($"Blazor: Received high scores from API Gateway... {response?.Count ?? 0} entries found.");
            if (response is not null)
            {
                try 
                {
                    _highScores.Clear();
                    foreach (ScoreResponse score in response)
                    {
                        _highScores.Add(score);
                    };
                }
                catch (Exception ex)
                {
                    Console.WriteLine($"Blazor: Error occurred while clearing local list and adding highscore: {ex.Message}");
                }
            }
        }
        catch (Exception ex)
        {
            Console.WriteLine($"Blazor: Error occurred while fetching high scores: {ex.Message}");
        }
    }
}
